
@media (min-width:1024px) and (max-width: 1279px){
    body{
        background-position-y: 20%;
    }
    .header{
        justify-content: space-around;
        .header__search{
            width: 350px;
        }
        .search-input__icon2{
            display: none;
        }
        .header__nav{
            width: 370px;
            .header-nav__ul{
                justify-content: space-evenly;
            }
        }
       .header__user-area{
           justify-content: space-evenly;
       }
    }
    main{
        padding: 30px;
        .events, .notifications, .contacts {
            width: 22%;
            min-width: 120%;
        }
        .mails, .projects{
             width: 45%;
             min-width: 70%;
        }
        .projects__container{
            justify-content: space-between;
            .projects-container__single{
                margin: 0;
                .container-single__buttons{
                    width: 100%;
                    min-width: 280px;
                    .single-button{
                       padding: 3px;
                    }
                }
            }
            
        }
       
        .notifications{
            .notifications__main{
                .notifications-main__todo{
                  justify-content: space-between;
                  width: 100%;
                    .main-todo__container{
                       margin: 0; 
                       .todo-container__title{
                           font-size: 1rem;
                       }
                       .todo-container__deadline{
                           width: 60%;
                       }
    
                    }
                    .main-todo__check{
                        margin: 15px 5px;
                    }
                }
                .notifications-main__todo-600{
                    display:none;
                }
            }
            
        }
    }
   
}
@media (min-width: 786px) and (max-width: 1023px){
    body{
        background-size: 100% 600%;
        background-position-y: 20%;
    }
    .header{
       justify-content: space-evenly;
        .header__menu-icon{
            display: block;
            color: white;
        }
        .header-logo__img{
            display: none;
        }
        .logo-mobile__img{
            display: block;
            align-self: left;
         }
        .header__search{
            width: 500px;
            height: 35px;
        }
        .search-input__icon2{
            display: none;
        }
        
        .header__nav{
            display: none;
        }
   }
    
    main{
        margin: 40px 20px;
        flex-wrap: wrap;
        .main__left-side, .main__center, .main__right-side{
            flex-direction: row;
            height: auto;
            width: 100%;    
        }
        .events, .mails, .contacts, .notifications, .projects{
            width: 100%;
            margin:20px auto;
        } 
        .events-main__info{
            margin: auto;   
        }
        .main-todo__container{
            
            .notifications-main__todo-600{
                display:none;
            }
        }
       
        .projects__container{
            justify-content: space-between;
            .projects-container__single{
                margin: 0;
                .container-single__buttons{
                    width: 100%;
                    min-width: 250px;
                    .single-button{
                       padding: 3px;
                    }
                }
            }   
        }
        .contact__main{
            justify-content: center;
            .contact-main__container{
                width: 100%;
                justify-content: center;

            }

        }


   }
}
@media (min-width: 600px) and (max-width: 786px){
   body{
        background-size: 100% 800%;
        background-position-y: 25%;
   }
   .header{
       justify-content: space-evenly;
        .header__menu-icon{
            display: block;
            color: white;
        }
        .header__search{
            width: 280px;
        }
        .search-input__icon2{
            display: none;
        }
        .search-input__icon{
            display: none;
        }
        .header__nav{
            display: none;
        }
   }
   main{
       flex-wrap: wrap;
       .main__left-side, .main__center{
            width: 50%;
       }
       .main__right-side{
           width: 100%;
       }
       .events, .mails, .contacts, .notifications, .projects{
            width: 50%;
            margin:10px;
            min-width: 260px;
            max-width: 260px;
        } 
        .contacts{
            justify-self: flex-start;
            align-self: flex-start;
            margin-left: 50px;
        }
        .notifications__main{
            .notifications-main__todo{
                display: none;
            }
            .notifications-main__todo-600{
                display:block;
            }
        }
      
        .projects__container{
            justify-content: space-between;
            .projects-container__single{
                margin: 0;
                .container-single__buttons{
                    width: 100%;
                    min-width: 230px;
                    .single-button{
                       padding: 3px;
                    }
                }
            }
            
        }
        
        
   }
}
@media (min-width: 320px) and (max-width: 599px){
    body{
        background-size: 100% 600%;
        background-position-y: 20%;
    }
    .header{
        color:white;
        .header__menu-icon{
            display: block;
            font-size: 0.5em;
            color: white;
        }
        .header-logo__img{
            display: none;
        }
        .logo-mobile__img{
            display: block;
        }
        .header__search{
            display: none;
            .header-search__input{
                display: none;
            }
            .search-input__icon2{
                display: block;
                     
            }
        }
        .search-input__icon{
            display: block;
        }
        .header__nav{
            display: none;
        }
    }
    main{
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        .main__left-side, .main__center, .main__right-side{
            margin-bottom: 20px;  
            width: 100%;
        }
       .events, .mails, .contacts, .notifications, .projects{
            
            min-width: 290px;
            margin-top: 0;
            margin-bottom: 20px;
       }
       .notifications-main__todo{
            .notifications-main__todo-600{
                display:none;
            }
           .main-todo__container{
               .todo-container__title{
                   font-size: 0.9rem;
                   font-weight: bolder;
                   margin-bottom: 5px; 
               }
               .todo-container__text{
                   font-size: 0.8em;
               }
               .todo-container__text-2{
                   width: 100%;
                   min-width: 125px;
                   padding-left: 5px;
               }
           }
           
       }
     
        .projects__container{
            justify-content: space-between;
            .projects-container__single{
                margin: 0;
                .container-single__buttons{
                    width: 100%;
                    min-width: 230px;
                    .single-button{
                       padding: 3px;
                    }
                }
            }
            
        }

    }
}
