@media (min-width:1024px) and (max-width: 1279px){
    body{
        background-position-y: 20%;
    }
    .header{
        justify-content: space-around;
        .header__search{
            width: 350px;
        }
        .search-input__icon2{
            display: none;
        }
        .header__nav{
            width: 370px;
            .header-nav__ul{
                justify-content: space-evenly;
            }
        }
       .header__user-area{
           justify-content: space-evenly;
       }
    }
   .events, .mails, .contacts, .notifications, .projects{
       width: 30%;
       min-width: 300px;
   }
   .container-single__buttons{
       width: 100%;
   }
}
@media (min-width: 786px) and (max-width: 1023px){
    body{
        background-size: 100% 500%;
        background-position-y: 5%;
    }
    .header{
       justify-content: space-evenly;
        .header__menu-icon{
            display: block;
            color: white;
        }
        .header-logo__img{
            display: none;
        }
        .logo-mobile__img{
            display: block;
            align-self: left;
         }
        .header__search{
            width: 500px;
            height: 35px;
        }
        .search-input__icon2{
            display: none;
        }
        
        .header__nav{
            display: none;
        }
   }
    
    main{
        margin: 40px 20px;
        flex-wrap: wrap;
        .main__left-side, .main__center, .main__right-side{
            flex-direction: row;
            height: auto;
            width: 100%;    
        }
        .events, .mails, .contacts, .notifications, .projects{
            width: 100%;
            margin:20px auto;
        } 
        .events-main__info{
            margin: auto;   
        }
   }
}
@media (min-width: 600px) and (max-width: 786px){
   body{
        background-size: 100% 800%;
        background-position-y: 2%;
   }
   .header{
       justify-content: space-evenly;
        .header__menu-icon{
            display: block;
            color: white;
        }
        .header__search{
            width: 280px;
        }
        .search-input__icon2{
            display: none;
        }
        .search-input__icon{
            display: none;
        }
        .header__nav{
            display: none;
        }
   }
   main{
       flex-wrap: wrap;
       .main__left-side, .main__center, .main__right-side{
            width: 50%;
       }
       .events, .mails, .contacts, .notifications, .projects{
            width: 50%;
            margin:20px;
            min-width: 260px;
        } 
   }
}
@media (min-width: 320px) and (max-width: 599px){
    .header{
        color:white;
        .header__menu-icon{
            display: block;
            font-size: 0.5em;
            color: white;
        }
        .header-logo__img{
            display: none;
        }
        .logo-mobile__img{
            display: block;
        }
        .header__search{
            display: none;
            .header-search__input{
                display: none;
            }
            .search-input__icon2{
                display: block;
                     
            }
        }
        .search-input__icon{
            display: block;
        }
        .header__nav{
            display: none;
        }
    }
    main{
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        .main__left-side, .main__center, .main__right-side{
            margin-bottom: 20px;  
        }
       .events, .mails, .contacts, .notifications, .projects{
            width: 100%;
            min-width: 270px;
            margin-top: 0;
            margin-bottom: 20px;
       }
       .notifications-main__todo{
           .main-todo__container{
               .todo-container__title{
                   font-size: 0.9rem;
                   font-weight: bolder;
                   margin-bottom: 5px; 
               }
               .todo-container__text{
                   font-size: 0.8em;
               }
               .todo-container__text-2{
                   width: 100%;
                   min-width: 125px;
                   padding-left: 5px;
               }
           }
           
       }
       .projects{
            .todo-container__title{
                width: 100%;
                .single-button{
                    font-size: 0.5em;
                }

            }
        }

    }
}
