body{
    background-image: url('./../../../assets/images/sidebar-wall.png');
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position-y: 30%;
    margin: 0;
    padding: 0;
    main{
        display: flex;
        flex-direction: row;
        margin: 60px 30px;
        align-items: flex-start;
        .main__left-side, .main__center, .main__right-side{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: auto;


        }
        
    }
}
