
.events{
    @extend .dimensions;
    width:20%;
    min-width: 300px;
    .events__header{
        @extend .card__header;
        .events-header__left{
            @extend .card-header__left;
            .events-header__title{
                @extend .card-header__title;
            }
        }
        .fa-ellipsis-vertical{
            margin-right: 30px;
        }
    }
    .events__main{
        @extend .card__main;
        .events-main__today {
            
            margin: 20px 30px 20px 30px;
            width: 80%;

            .events-main__title{
               @extend .card__title;
            }
            .events-main__info{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 10px;
                
                .main-info__hour-container{
                    @extend .card__hour-container;
                    .hour-container__text{
                        font-size: 1rem;
                        margin: auto;
                    }
                }
                .main-info__container{
                    margin-left: 10px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    .info-container__title:first-of-type{
                        width: 70%;
                        align-self: baseline;
                        margin-top: 10px;
                    }
                    .info-container__title{
                        color: #0062cc;
                        text-decoration: underline;
                    }
                }
            }

        }
        .events-main__tomorrow{
            
            margin: 0px 30px 20px 30px;
            width: 80%;
            .main-tomorrow__title{
               @extend .card__title;
            }
            .main-tomorrow__info{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 10px;
                .main-info__hour-container{
                    @extend .card__hour-container;
                }
                
                .main-tomorrow__container{
                    margin-left: 10px;
                    .tomorrow-container__title{
                        color: #0062cc;
                        text-decoration: underline;
                    }
            
                }
            }
        }
        .events__see-more{
            @extend  .card__see-more;
        }
         

    }
}



