.events{
    width:20%;

    .events__main{
        border-radius: 0px 0px 5px 5px;
        box-shadow: 0px 1px 1px 1px rgb(170, 169, 169);
        .events-main__today {
            
            margin: 20px 30px 20px 30px;
            width: 80%;

            .events-main__title{
                color: #0062cc;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 1rem;
                margin-top: 10px;
            }
            .events-main__info{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 10px;
                
                .events-info__hour-container{
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    background-color:#0062cc;
                    color: #fff;
                    flex-direction: column;
                    justify-content: center;
                    .hour-container__text{
                        font-size: 1rem;
                        margin: auto;
                    }
                }
                .main-info__container{
                    margin-left: 10px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    .info-container__title:first-of-type{
                        width: 70%;
                        align-self: baseline;
                        margin-top: 10px;
                    }
                    .info-container__title{
                        color: #0062cc;
                        text-decoration: underline;
                    }
                }
            }

        }
        .events-main__tomorrow{
            
            margin: 0px 30px 20px 30px;
            width: 80%;
            .main-tomorrow__title{
                color: #0062cc;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 1rem;
                margin-top: 10px;
            }
            .main-tomorrow__info{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 10px;
                
                .main-tomorrow__container{
                    margin-left: 10px;
                    .tomorrow-container__title{
                        color: #0062cc;
                        text-decoration: underline;
                    }
            
                }
            }
        }
         

    }
}

