<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/front-modules.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" src="../libs/dependencies.js"></script>
    <script type="module" src="../js/front-dev.js"></script>
    <script src="https://kit.fontawesome.com/3c95568781.js" crossorigin="anonymous"></script>

    <title>Header</title>
</head> 

<body>
    <!--------HEADER-------->
    <header class="header">
        
        <section class="header__logo">
            <figure class="header-logo__img">
                <img src="./../../assets/images/logoeveris.png" alt="corporative identity" >
            </figure>
           
        </section>
        <section class="header__search">
            <input type="text" class="header-search__input" placeholder="Proyecto skm">
                <i class="search-input__icon fa-solid fa-magnifying-glass"></i>
            </input>
        </section>
        <nav class="header__nav">
            <ul class="header-nav__ul">
                <li class="nav-ul__li">
                    <i class="nav-li__icon fa-solid fa-house fa-2xl"></i>
                    <a href="" class="nav-li__link">Inicio</a>
                </li>
                <li class="nav-ul__li">
                    <i class="nav-li__icon fa-solid fa-table-cells fa-2xl"></i>
                    <a href="" class="nav-li__link">Aplicaiones</a>
                </li>
                <li class="nav-ul__li">
                    <i class="nav-li__icon fa-solid fa-globe fa-2xl"></i>
                    <a href="" class="nav-li__link">Comunidades</a>
                </li>
                <li class="nav-ul__li">
                    <figure class=" nav-li__everis">
                        <img src="./../../assets/images/everispedia.png" alt="everpedia logo" >
                    </figure>
                    <a href="" class="nav-li__link">everPedia</a>
                </li>
            </ul>
        </nav>
        <section class="header__user-area">
            <section class="header__notification">
                <i class="header-notification__bell fa-solid fa-bell fa-xl"></i>
            </section>
    
            <section class="header__user">
                <figure class="header-user__profile">
                    <img src="./../../assets/images/header-profile.png" alt="user profile image" >
                </figure>
                <i class="header-user__icon fa-solid fa-caret-down"></i>
            </section>
        </section>
       
    </header>
    <main>
        <p>hola</p>
        <!--------EVENTS-------->
        <section class="events">
            <header class="events__header">
                <i class="events-header__icon"></i>
                <h1 class="events-header__title">Eventos</h1>
                <i class="events-header__menu"></i>
            </header>
            <main class="events__main">
                <h2 class="events-main__title">Hoy</h2>
                <section class="events-main__info">
                    <figure>
                        <img src="" alt="" class="main-info__img">
                    </figure>
                    <section class="main-info__container">
                        <a href="#" class="info-container__title">SKM Wireframes checkpoint</a>
                        <p class="main-info__text">11:00 a 12:00. Sala 446</p>
                    </section>
                    <section class="main-info__container">
                        <a href="#" class="info-container__title">SKM chill out</a>
                        <p class="main-info__text">13:00 a 13:40. Sala 446</p>
                    </section>
                </section>
                <section class="events-main__info">
                    <figure>
                        <img src="" alt="" class="main-info__img">
                    </figure>
                    <p class="main-info__text"></p>
                </section>

            </main>
        </section>


    </main>
    




</body>
</html>