<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/front-modules.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" src="../libs/dependencies.js"></script>
    <script type="module" src="../js/front-dev.js"></script>
    <script src="https://kit.fontawesome.com/3c95568781.js" crossorigin="anonymous"></script>

    <title>Semilla</title>
</head> 

<body>
    <!--------HEADER-------->
    <header class="header">
        
        <section class="header__logo">
            <figure class="header-logo__img">
                <img src="./../../assets/images/logoeveris.png" alt="corporative identity" >
            </figure>
           
        </section>
        <section class="header__search">
            <input type="text" class="header-search__input" placeholder="Proyecto skm">
                <i class="search-input__icon fa-solid fa-magnifying-glass"></i>
            </input>
        </section>
        <nav class="header__nav">
            <ul class="header-nav__ul">
                <li class="nav-ul__li">
                    <i class="nav-li__icon fa-solid fa-house fa-2xl"></i>
                    <a href="" class="nav-li__link">Inicio</a>
                </li>
                <li class="nav-ul__li">
                    <i class="nav-li__icon fa-solid fa-table-cells fa-2xl"></i>
                    <a href="" class="nav-li__link">Aplicaiones</a>
                </li>
                <li class="nav-ul__li">
                    <i class="nav-li__icon fa-solid fa-globe fa-2xl"></i>
                    <a href="" class="nav-li__link">Comunidades</a>
                </li>
                <li class="nav-ul__li">
                    <figure class=" nav-li__everis">
                        <img src="./../../assets/images/everispedia.png" alt="everpedia logo" >
                    </figure>
                    <a href="" class="nav-li__link">everPedia</a>
                </li>
            </ul>
        </nav>
        <section class="header__user-area">
            <section class="header__notification">
                <i class="header-notification__bell fa-solid fa-bell fa-xl"></i>
                <div class="icon__container">
                    <i class="fa-solid fa-8 fa-2xs"></i>
                </div>
            </section>
            
    
            <section class="header__user">
                <figure class="header-user__profile">
                    <img src="./../../assets/images/header-profile.png" alt="user profile image" >
                </figure>
                <i class="header-user__icon fa-solid fa-caret-down"></i>
            </section>
        </section>
       
    </header>
    <main>
    
        <!--------EVENTS-------->
        <section class="events general">
            <section class="general__header">
                <div class="general-header__left">
                    <i class="general-header__icon fa-solid fa-calendar-days fa-lg"></i>
                    <h5 class="general-header__title">Eventos</h5>
                </div>
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </section>
            <section class="events__main general__main">
                <section class="events-main__today">
                    <h5 class="events-main__title">Hoy</h5>
                    <section class="events-main__info">
                        <div class="main-info general__hour-container">
                            <p class="general-hour-container__tex">11:00</p>
                        </div>
                        <section class="main-info__container">
                            <p  class="info-container__title">SKM Wireframes checkpoint</p>
                            <p class="main-info__text">11:00 a 12:00. Sala 446</p>
                        </section>
                    </section>
                    <section class="events-main__info">
                        <div class="main-info general__hour-container">
                            <p class="general-hour-container__tex">13:00</p>
                        </div>
                        <section class="main-info__container">
                            <p class="info-container__title">SKM chill out</p>
                            <p class="main-info__text">13:00 a 13:40. Sala 446</p>
                        </section>
                    </section>
                </section>
                <section class="events-main__tomorrow">
                    <h5 class="main-tomorrow__title">Mañana</h5>
                    <section class="main-tomorrow__info">
                        <div class="general__hour-container">
                            <p class="tomorrow-hour-container__text">11:00</p>
                        </div>
                        <section class="main-tomorrow__container">
                            <p class="tomorrow-container__title">SKM Wireframes check</p>
                            <p class="general-hour-container__tex">11:00 a 12:00. Sala 446</p>
                        </section>
                    </section>

                </section>
                <section class="general__see-more">
                    <a href="#" class="see-more__limk">Ver más</a>
                    <i class="fa-solid fa-angle-down"></i>
    
                </section>
            </section>
        
        </section>
        <!---------MAILS------------>

        <section class="mails general">
            <section class=" general__header">
                <div class=" mails-header__left general-header__left">
                    <i class="general-header__icon fa-solid fa-envelope fa-lg"></i>
                    <h5 class="general-header__title">Mails</h5>
                </div>
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </section>
            <section class="mails__main general__main">
                <section class="mails-main__user-mail">
                    <p class="user-mail__data">20/06/2017 - 13:00</p>
                    <div class="user-mail__info">
                        <figure class="user-mail__img">
                            <img src="./../../assets/images/Francisco_img.PNG" alt="Foto usuario">
                        </figure>
                        <p class="user-mail__name">Francisco Javier Fernández</p>
                    </div>
                    <h5 class="user-mail__title">Nuevas versiones de las pantallas</h5>
                    <p class="user-mail__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. </p>

                </section>
                <section class="mails-main__user-mail">
                    <p class="user-mail__data">20/06/2017 - 13:00</p>
                    <div class="user-mail__info">
                        <figure class="user-mail__img">
                            <img src="./../../assets/images/Francisco_img.PNG" alt="Foto usuario">
                        </figure>
                        <p class="user-mail__name">Francisco Javier Fernández</p>
                    </div>
                    <h5 class="user-mail__title">Nuevos datos password(Invision Zeplin..</h5>
                    <p class="user-mail__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

                </section>
                <section class="mails-main__user-mail">
                    <p class="user-mail__data">20/06/2017 - 13:00</p>
                    <div class="user-mail__info">
                        <figure class="user-mail__img">
                            <img src="./../../assets/images/Francisco_img.PNG" alt="Foto usuario">
                        </figure>
                        <p class="user-mail__name">Francisco Javier Fernández</p>
                    </div>
                    <h5 class="user-mail__title">Nuevas versiones de las pantallas</h5>
                    <p class="user-mail__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

                </section>
                <section class="general__see-more">
                    <a href="#" class="see-more__limk">Ver más</a>
                    <i class="fa-solid fa-angle-down"></i>
    
                </section>
            </section>
            
        </section>
        <!------------CONTACTS---------->
        <section class="contacts general">
            <section class="general__header">
                <div class="general-header__left">
                    <i class="general-header__icon fa-solid fa-users fa-lg"></i>
                    <h5 class="general-header__title">Mis contactos</h5>
                </div>
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </section>
            
            <nav class="component__nav">
                <ul class="component-nav__list">
                    <li class="nav-list__link nav-list__link--bold "><a href="" class="list-link__anchor">Contacto</a></li>
                    <li class="nav-list__link"><a href="" class="list-link__anchor">Grupo</a></li>
                    <li class="nav-list__link"><a href=""  class="list-link__anchor">Relación</a></li>       
                </ul>
            </nav>
            
            <section class="contact__main">
                <div class="contact-main__left">
                    <section class="contact-main__container">
                        <figure class="contact-main-container__img">
                            <img src="./../../assets/images/Raquel_img.PNG" alt="Foto de contacto">
                        </figure>
                        <div class="contact-main-container__middle">
                            <p class="contact-main-container__name">Raquel Laguna Soriano</p>
                            <p class="contact-main-container__info">Leader-ExD</p>
                        </div>
                        <i class="fa-solid fa-angle-down"></i>
            
                    </section>
                    <section class="contact-main__container">
                        <figure class="contact-main-container__img">
                            <img src="./../../assets/images/Alvaro_img.PNG" alt="Foto de contacto">
                        </figure>
                        <div class="contact-main-container__middle">
                            <p class="contact-main-container__name">Álvaro Ruiz Miranda</p>
                            <p class="contact-main-container__info">Student-IT</p>
                        </div>
                        <i class="fa-solid fa-angle-down"></i>
                    </section>
                    <section class="contact-main__container">
                        <figure class="contact-main-container__img">
                            <img src="./../../assets/images/Maria_img.PNG" alt="Foto de contacto">
                        </figure>
                        <div class="contact-main-container__middle">
                            <p class="contact-main-container__name">María López Segarra</p>
                            <p class="contact-main-container__info">Student-ExD</p>
                        </div>
                        <i class="fa-solid fa-angle-down"></i>
                    </section>
                    <section class="contact-main__container">
                        <figure class="contact-main-container__img">
                            <img src="./../../assets/images/Miguel_img.PNG" alt="Foto de contacto">
                        </figure>
                        <div class="contact-main-container__middle">
                            <p class="contact-main-container__name">Miguel Pérez Lobera</p>
                            <p class="contact-main-container__info">Staff-ExD</p>
                        </div>
                        <i class="fa-solid fa-angle-down"></i>
                    </section>  
                    <section class="contact-main__container">
                        <figure class="contact-main-container__img">
                            <img src="./../../assets/images/Francisco_img.PNG" alt="Foto de contacto">
                        </figure>
                        <div class="contact-main-container__middle">
                            <p class="contact-main-container__name">Francisco Javier Martínez de la Fuente</p>
                            <p class="contact-main-container__info">Manager-IT</p>
                        </div>
                        <i class="fa-solid fa-angle-down"></i>
                    </section>
                    <section class="contact-main__container">
                        <figure class="contact-main-container__img">
                            <img src="./../../assets/images/Sofia_img.PNG" alt="Foto de contacto">
                        </figure>
                        <div class="contact-main-container__middle">
                            <p class="contact-main-container__name">Sofía Beltrán Moreno</p>
                        </div>
                        <i class="fa-solid fa-angle-down"></i>
                    </section>
                </div>
                <div class="contact-main__right">

                </div>

            </section>
        </section>

        <!---------NOTIFICATIONS----------->

        <section class="notifications general">
            <section class="general__header">
                <div class="general-header__left">
                    <i class="header-notification__bell fa-solid fa-bell fa-xl"></i>

                    <h5 class="general-header__title">Notificaciones</h5>
                </div>
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </section>
            <section class="notifications__main general__main">
                <section class="notifications-main__todo">
                    <div class="main-todo__container">
                        <h5 class="todo-container__title">Actualizar benchmark perfiles en proyecto</h5>
                        <p class="todo-container__text">SKM: Intranet Inteligente</p>
                        <div class="todo-container__deadline">
                            <i class="fa-solid fa-circle-exclamation"></i>
                            <p class="todo-container__text-2">Deadline 19/06</p>
                        </div> 

                    </div>
                    <div class="main-todo__check">
                        <i class="fa-regular fa-square-check fa-xl"></i>
                    </div>
                </section>
                <section class="notifications-main__todo">
                    <div class="main-todo__container">
                        <h5 class="todo-container__title">Actualizar documentos</h5>
                        <p class="todo-container__text">SKM: Intranet Inteligente</p>
                        <div class="todo-container__deadline">
                            <i class="fa-solid fa-circle-exclamation"></i>
                            <p class="todo-container__text-2">Deadline 19/06</p>
                        </div>        
                    </div>
                    <div class="main-todo__check">
                        <i class="fa-regular fa-square-check fa-xl"></i>
                    </div>
                </section>
                <section class="notifications-main__todo">
                    <div class="main-todo__container">
                        <h5 class="todo-container__title">Actualizar documentos</h5>
                        <p class="todo-container__text">SKM: Intranet Inteligente</p>
                        <div class="todo-container__deadline">
                            <i class="fa-solid fa-circle-exclamation"></i>
                            <p class="todo-container__text-2">Deadline 19/06</p>
                        </div> 

                    </div>
                    <div class="main-todo__check">
                        <i class="fa-regular fa-square-check fa-xl"></i>
                    </div>
                </section>
                <section class="general__see-more">
                    <a href="#" class="see-more__limk">Ver más</a>
                    <i class="fa-solid fa-angle-down"></i>
                </section>
            </section>
            
        </section>

        <!---------PROJECTS--------->

        <section class="project general">
            <section class="general__header">
                <div class="general-header__left">
                    <i class="fa-solid fa-folder-open fa-lg"></i>
                    <h5 class="general-header__title">Proyectos</h5>
                </div>
                <i class="fa-solid fa-ellipsis-vertical"></i>

            </section>
            
            <nav class="component__nav">
                <ul class="component-nav__list">
                    <li class="nav-list__link"><a href="" class="list-link__anchor">En curso</a></li>
                    <li class="nav-list__link"><a href="" class="list-link__anchor">Relacionados</a></li>
                    <li class="nav-list__link"><a href=""  class="list-link__anchor">Cerrados</a></li>       
                </ul>
            </nav>
            
            <section class=" general__main">
                <section class="project__container">
                    <section class="project-container__single">
                        <h5 class="comtainersingle__title">SKM: Internet inteligente</h5>
                        <p class="container-single__text">Proyecto interno</p>
                        <section class="container-single__buttons">
                            <button class="single-button">Intranet</button>
                            <button class="single-button">Buscador inteligente</button>
                            <button class="single-button">+2</button>
                        </section>
                    </section>
                    <section class="project-container__single">
                        <h5 class="comtainersingle__title">SKM: Internet inteligente</h5>
                        <p class="container-single__text">Proyecto interno</p>
                        <section class="container-single__buttons">
                            <button class="single-button">Intranet</button>
                            <button class="single-button">Buscador inteligente</button>
                            <button class="single-button">+2</button>
                        </section>
                    </section>
                    <section class="project-container__single">
                        <h5 class="comtainersingle__title">SKM: Internet inteligente</h5>
                        <p class="container-single__text">Proyecto interno</p>
                        <section class="container-single__buttons">
                            <button class="single-button">Intranet</button>
                            <button class="single-button">Buscador inteligente</button>
                            <button class="single-button">+2</button>
                        </section>
                    </section>
                    <section class="general__see-more">
                        <a href="#" class="see-more__limk">Ver más</a>
                        <i class="fa-solid fa-angle-down"></i>
                    </section>
                </section>
            </section>
        </section>

      
        
            
        



    </main>
    




</body>
</html>