.contacts{
    @extend .dimensions;
    width: 20%;
    min-width:100%;

    .contacts__header{
        @extend .card__header;
        .contacts-header__left{
            @extend .card-header__left;
            .contacts-header__title{
                @extend .card-header__title;
            }
        }
        .fa-ellipsis-vertical{
            margin-right: 30px;
        }
    }
    .contacts__nav{
        width: 100%;
        
        .contacts-nav__list{
            
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            background-color: color(primary-lighter);
            color: color(primary-dark);

           .nav-list__link{
               padding: 10px;   
               
            }
           
        } 
    }
    .contacts__main{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #fff;
        .contact-main__container{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            border-bottom: 1px solid color(primary-dark);
            margin: auto;
            padding: 15px 5px;
            width: 95%;
        
            .contact-main-container__img{
                width: 20%;
            }
            .contact-main-container__middle{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 60%;
               padding-left: 10px;
                
                
                .contact-main-container__name{
                    color: color(primary-dark);
                    font-weight: bold;
                    text-decoration: underline;
                }
                
                .contact-main-container__info{
                    margin-top: 5px;
                }
    
            }
            
            .fa-angle-down{
                color: color(primary-dark);
                width: 20%;
                margin-left: 10px;
            }
           
        }
    
        .contact-main__right{
            width: 5%;
            border-left: 6px solid color(default-light);
            height: 200px;
            margin-top: 50px;

        }
    }

}