.mails{
    @extend .dimensions;
    width: 45%;
    min-width: 90%;
    .mails__header{
        @extend .card__header;
        .mails-header__left{
            @extend .card-header__left;
            .mails-header__title{
                @extend .card-header__title;
            }
        }
        .fa-ellipsis-vertical{
            margin-right: 30px;
        }
    }
    .mails__main{
        @extend .card__main;
        align-items: center;

        .mails-main__user-mail{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 20px;
            border-bottom: 1px solid color(default-light);
            .user-mail__data{
                color: color(default);
                margin: 10px 0;
            }
            .user-mail__info{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 210px;
                .user-mail__img{
                    width: 25px;
                }
            }
            .user-mail__title{
                color:color(primary-dark);
                text-decoration: underline;
                margin-bottom: 10px;
            }
    
        } 
        .mails__see-more{
            @extend  .card__see-more;
        } 
    }
}


